div#showCalcul {
    width: 275px;
    height: 40px;

    border-style: inset;
    border-width: 2px;
    border-radius: 4px;
    border-color: lightgray;
    }

div.calculator {
    display: grid;
    grid-template-columns: repeat(5, 55px);
}
button {
    width: 50px;
    height: 50px;

    margin-top: 5px;
    margin-left: 3.5px;
} button#equal {
    margin-left: 114px;
}